@import './common';

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

.container {
  padding: 10px;
  display: block;
}

img {
  display: block;
  max-width: 100%;
}


:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

.gallery {
  display: grid;
  max-width: 1140px;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-auto-rows: 240px;
  gap: 60px 12px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.gallery__item {
  position: relative;
  // background: rgb(210, 210, 210, 0.4);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    list-style-type: none;
}

.gallery__image:hover {
  transform: scale(1.03);
}

.gallery__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

.gallery__link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.gallery__link:hover {
  cursor: zoom-in;
}

.info {
  margin-top: 5px;
  padding: 0;
  display: flex;
  justify-content: space-around;
  position: relative;
}

.info-item {
  padding: 0;
    font-size: 10px;
    line-height: 1.12;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

// SEARCH-FORM
.search-form {
  display: flex;
    margin-bottom: 20px;
    position: relative;
    left: 40%;
    width: 300px;
}


// SEARCH-FORM


.loadmore__btn {
  position: relative;
  left: 45%;
  top: 50px;
}